.cityStat{
    padding:10px;
}

.hide{
    display: none;    
}
.card-body{
    margin-right:10px;
    margin-bottom: 10px;
}
#forecast{
    justify-content: space-around;
}

.previous-button{
    margin:3px;
    max-width: 16rem;
}

/* .list-group{
    justify-content: space-around;
    flex: auto;
} */